<a href="https://colab.research.google.com/github/kibbm/ML-Tensorflow/blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0_%EB%A6%AC%EC%8A%A4%ED%8A%B8%2C%ED%8A%9C%ED%94%8C%2C%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC_vs_Pandas(Series%2C_DataFrame).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**[파이썬 기본 자료구조]**..1차원 구조
*   **리스트** [].......index통해 값을 접근. / 반복문
*   **튜플** ()  .................... /수정불가. 속도 빠름.
*   **딕셔너리** {'': }..key가지고 아주 빠르게 값을 찾을 수 있음
---
##[Pandas]
*   **Series** : 1차원 자료구조

> * Series객체는 일차원 배열과 달리 값뿐만 아니라 각 값에 연결된 인덱스 값도 동시에 저장함.
* Series객체는 리스트와 달리 인덱싱 값을 지정할 수 있음.
* 파이썬의 딕셔너리와 유사하게 값과 이에 대응되는 인덱스 값이 서로 연결돼 있음.
* 인덱싱이 서로 다른 경우에도 알아서 인덱싱이 같은 값끼리 덧셈 연산을 수행함.


*   **DataFrame**: 2차원 자료구조


> * DataFrame을 인덱스가 같은 여러개의 Series 객체로 구성된 자료구조로 생각해도 좋습니다.
* 1) 데이터 프레임 생성
>> * DataFrame 객체에서 칼럼의 순서는 DataFrame객체를 생성할 때 *columns*라는 키워드를 지정할 수 있음.daeshin_day = DataFrame(daeshin, columns=['open', 'high', 'low', 'close'])
>> * DataFrame에서 인덱스 지정가능. 생성 시점에 index를 통해 지정. daeshin_day = DataFrame(daeshin, columns=['open', 'high', 'low', 'close'], index=date)

> * 2) 데이터프레임 칼럼, 로우 선택
>> * DataFrame 객체의 칼럼에 접근하려면 칼럼 이름을 지정하면 되고, 로우에 접근하려면 loc 메서드를 통해 인덱스 값을 지정 close = daeshin_day['close'] // day_data = daeshin_day.loc['2016.02.17']

*[pandas]-1. Series*

In [ ]:
import pandas
print(pandas.Series)

<class 'pandas.core.series.Series'>

In [ ]:
#1. 파이썬 리스트를 넘겨주면 해당 값에 포함하는 Series객체를 생성함.
from pandas import Series, DataFrame

kakao = Series([92600, 92400, 92100, 94300, 92300])
print(kakao)
#Series객체를 생성할 때 따로 인덱스를 지정하지 않았다면 기본적으로 0부터 시작하는 정수값으로 인덱싱 됨.
#Series객체는 일차원 배열과 달리 값뿐만 아니라 각 값에 연결된 인덱스 값도 동시에 저장함.

0    92600
1    92400
2    92100
3    94300
4    92300
dtype: int64

In [ ]:
#따라서 다음과 같이 인덱스 값을 통해 데이터에 접근할 수 있음.
print( kakao[0] )
print( kakao[1] )

92600
92400

In [ ]:
#2. Series객체는 리스트와 달리 인덱싱 값을 지정할 수 있음.
kakao2 = Series([92600, 92400, 92100, 94300, 92300], index=['2016-02-19', 
                                                            '2016-02-18',
                                                            '2016-02-17',
                                                            '2016-02-16',
                                                            '2016-02-15'])
print(kakao2)

2016-02-19    92600
2016-02-18    92400
2016-02-17    92100
2016-02-16    94300
2016-02-15    92300
dtype: int64

In [ ]:
print(kakao2['2016-02-19'])
print(kakao2['2016-02-18'])

92600
92400

In [ ]:
#3. 파이썬의 딕셔너리와 유사하게 값과 이에 대응되는 인덱스 값이 서로 연결돼 있음.
for date in kakao2.index:
  print(date)

for ending_price in kakao2.values:
  print(ending_price)

2016-02-19
2016-02-18
2016-02-17
2016-02-16
2016-02-15
92600
92400
92100
94300
92300

In [ ]:
#4. 인덱싱이 서로 다른 경우에도 알아서 인덱싱이 같은 값끼리 덧셈 연산을 수행함.
from pandas import Series, DataFrame

mine = Series([10, 20, 30], index=['naver', 'sk', 'kt'])
friend = Series([10, 30, 20], index=['kt', 'naver', 'sk'])

merge = mine + friend
print(merge)

kt       40
naver    40
sk       40
dtype: int64

[pandas]-2. DataFrame

In [ ]:
#1) 데이터프레임 생성
from pandas import Series, DataFrame

raw_data = {'col0':[1, 2, 3, 4],
            'col1':[10, 20, 30, 40],
            'col2':[100, 200, 300, 400] }

data = DataFrame(raw_data)            
print(data)

   col0  col1  col2
0     1    10   100
1     2    20   200
2     3    30   300
3     4    40   400

In [ ]:
#1. DataFrame 객체의 각 컬럼에 접근
data['col2']

0    100
1    200
2    300
3    400
Name: col2, dtype: int64

In [ ]:
#2. DataFrame 각 컬럼의 타입
type(data['col2'])  #Series

#DataFrame을 인덱스가 같은 여러개의 Series 객체로 구성된 자료구조로 생각해도 좋습니다.

pandas.core.series.Series

In [ ]:
from pandas import Series, DataFrame

daeshin = {'open': [11650, 11100, 11200, 11000, 11000],
           'high':[12100, 11800, 11200, 11100, 11150],
           'low' : [11600, 11050, 10900, 10950, 10900],
           'close':[11900, 11600, 11000, 11100, 11050] }

daeshin_day = DataFrame(daeshin)           
print(daeshin_day)

    open   high    low  close
0  11650  12100  11600  11900
1  11100  11800  11050  11600
2  11200  11200  10900  11000
3  11000  11100  10950  11100
4  11000  11150  10900  11050

In [ ]:
# DataFrame 객체에서 칼럼의 순서는 DataFrame객체를 생성할 때 columns라는 키워드를 지정할 수 있음.
daeshin_day = DataFrame(daeshin, columns=['open', 'high', 'low', 'close'])
print(daeshin_day)

    open   high    low  close
0  11650  12100  11600  11900
1  11100  11800  11050  11600
2  11200  11200  10900  11000
3  11000  11100  10950  11100
4  11000  11150  10900  11050

In [ ]:
#DataFrame에서 인덱스 지정가능. 생성 시점에 index를 통해 지정.
date=['2016.02.19', '2016.02.17', '2016.02.16', '2016.02.15', '2016.02.14']
daeshin_day = DataFrame(daeshin, columns=['open', 'high', 'low', 'close'], index=date)
print(daeshin_day)

             open   high    low  close
2016.02.19  11650  12100  11600  11900
2016.02.17  11100  11800  11050  11600
2016.02.16  11200  11200  10900  11000
2016.02.15  11000  11100  10950  11100
2016.02.14  11000  11150  10900  11050

In [ ]:
#2) 데이터프레임 칼럼, 로우 선택
close = daeshin_day['close']
print(close)

2016.02.19    11900
2016.02.17    11600
2016.02.16    11000
2016.02.15    11100
2016.02.14    11050
Name: close, dtype: int64

In [ ]:
print(daeshin_day['2016.02.17'])  #에러 ~> loc사용

KeyError: ignored

In [ ]:
day_data = daeshin_day.loc['2016.02.17']
print(day_data)
print( type(day_data) )

open     11100
high     11800
low      11050
close    11600
Name: 2016.02.17, dtype: int64
<class 'pandas.core.series.Series'>